<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <title>Privacy</title>
</head>
<style>
    .maindiv {
        width: 65vw;
        margin: auto;
        margin-bottom: 50px;
    }

    .maintitle {
        margin-bottom: 30px;
        margin-top: 40px;
        text-align: center;
        color: #459dff;
    }
</style>
<body style="font-family: 'Ubuntu', sans-serif; background-color: #f5f5f5;">
    <div class='maindiv'>
        <div class='maintitle'>
            <h2>Informativa Privacy</h2>
        </div>
        
        <div>
            <h4>Termini e condizioni di utilizzo</h4>
            <p>progettoschool.it (di seguito anche “progettoschool”), riconosce l’importanza di 
                mantenere la riservatezza, l’integrità e la sicurezza dei Suoi dati personali non pubblici (di seguito “Dati Personali”) e 
                La informa che i Dati Personali da Lei forniti a progettoschool tramite il Sito, saranno trattati nel 
                rispetto della vigente normativa europea in materia di privacy (Regolamento (UE) 2016/679 – di seguito “GPDR”) e delle 
                specifiche normative locali applicabili di volta in volta per i trattamenti effettuati al di fuori dell’Unione europea, 
                nonché dei principi e delle regole generali di comportamento contenuti nel Codice Etico adottato.
            </p>
        </div>
        <div>
            <h5>Tipologia e fonte dei dati</h5>
            <h6>Dati di navigazione</h6>
            <p>
                I sistemi informatici e le procedure software preposte al funzionamento del Sito acquisiscono, nel corso del loro 
                normale esercizio, alcuni dati personali (definiti log files) la cui trasmissione è implicita nell'uso dei protocolli 
                di comunicazione di Internet. Tali informazioni non sono raccolte per essere associate a interessati identificati, ma 
                per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di 
                identificare gli utenti. In questa categoria rientrano gli indirizzi IP oppure i nomi a dominio dei computer utilizzati 
                dagli utenti che si connettono al Sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse 
                richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del 
                file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc) 
                ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente. Questi dati vengono utilizzati 
                al solo fine di ricavare informazioni statistiche anonime sull'uso del Sito e per controllarne il corretto funzionamento.
            </p>
        </div>
        <div>
            <h4>Finalità del trattamento dei dati</h4>
            <p>
                I Dati Personali saranno utilizzati per le seguenti finalità: (a) per rispondere e soddisfare ogni Sua 
                richiesta e dunque per gestire il rapporto tra Lei e progettoschool; (b) per dare seguito alla Sua richiesta 
                per il suggerimento delle scuole superiori e dunque per svolgere le attività di filtraggio tramite la selezione
                delle dimensioni, nonché in adempimento di tutti gli obblighi imposti dalle leggi e regolamenti vigenti. 
                La sua registrazione a progettoschool consegue l'accettazione della seguente modulistica e i Dati Personali verranno 
                inseriti nella banca dati degli utenti del Database progettoschool e trattati, unitamente ai dati di dettaglio delle 
                sue scelte, per le seguenti finalità: (c) finalità di profilazione: per l’elaborazione di studi, sondaggi, 
                analisi e ricerche statistiche e/o di mercato individuali o di gruppo.
            </p>
        </div>
        <div>
            <h4>Modalità del trattamento</h4>
            <p>
                I Dati Personali saranno trattati mediante idonei strumenti elettronici o comunque automatizzati, informatici 
                e telematici, con logiche strettamente correlate alle finalità per 
                le quali i dati personali sono stati raccolti e, comunque in modo tale da garantire la sicurezza e la riservatezza 
                dei dati medesimi. I Dati Personali saranno trattati dal personale interno del Gruppo progettoschool all’uopo autorizzato 
                al trattamento nell’ambito dello svolgimento delle mansioni lavorative assegnate.
            </p>
        </div>
        <div>
            <h4>Natura del conferimento</h4>
            <p>
                Il conferimento dei Dati Personali è facoltativo. Tuttavia se è Sua volontà effettuare un ordine di acquisto dei 
                prodotti offerti sul Sito e/o ricevere informazioni sui prodotti e servizi del Gruppo progettoschool e/o contattare 
                il nostro Servizio Clienti e/o usufruire di altri servizi del Gruppo progettoschool è necessario compilare tutti i 
                campi indicati come obbligatori nei relativi moduli di raccolta dei Dati Personali. Il trattamento dei Suoi dati 
                per le finalità di cui alle lettere (c) e (d) del paragrafo 2 è condizionato al rilascio da parte Sua di un esplicito 
                consenso. L’eventuale rifiuto al rilascio del consenso non produce altro effetto se non quello di non poterLe offrire 
                un servizio personalizzato ed informarLa circa iniziative che potrebbero interessarLa e/o inviarLe qualsiasi altra 
                informazione di natura commerciale su prodotti, iniziative ed eventi del Gruppo progettoschool. Lei potrà in qualsiasi 
                momento modificare o revocare il Suo consenso ovvero opporsi al trattamento scrivendo a progettoschool, Vcon sede 
                legale in Prato, Via nea iona 10/3 59100 (PO) - Italia. o tramite e-mail all’indirizzo customer@euroingro.com o 
                utilizzando il link “unsubscribe” presente in tutte le nostre comunicazioni commerciali elettroniche ovvero altre 
                apposite procedure che potranno essere messe a Sua disposizione.
            </p>
        </div>
        <div>
            <h4>Comunicazione e diffusione dei dati</h4>
            <p>
                I Suoi Dati Personali, per quanto necessario e/o strumentale per l’esecuzione delle finalità sopra indicate, 
                potranno essere trattati per conto di progettoschool da parte di soggetti esterni che agiranno in qualità di 
                Responsabili del trattamento che appartengono alle seguenti categorie: società del Gruppo progettoschool società, 
                consulenti e studi professionali che prestano attività di assistenza e/o consulenza, o che svolgono, per conto di 
                progettoschool, servizi connessi e strumentali alle finalità del trattamento dei dati. I Suoi Dati potranno essere 
                trasferiti all'estero in conformità con le disposizioni della legge applicabile, anche in paesi al di fuori dell'Unione 
                Europea dove la Società persegue i propri interessi, adottando le misure di sicurezza e le dovute precauzioni al fine 
                di garantire un adeguato livello di sicurezza dei dati. I Dati Personali non saranno usati per finalità di carattere 
                promozionale di terzi ovvero riferite a prodotti, servizi o iniziative non provenienti dal Gruppo progettoschool e non 
                saranno in alcun caso oggetto di diffusione a soggetti indeterminati.
            </p>
        </div>
        <div>
            <h4>Durata del trattamento</h4>
            <p>
                I Suoi dati personali saranno trattati e conservati per il tempo necessario all’esecuzione delle finalità per le 
                quali sono stati raccolti e conformemente ai tempi di conservazione previsti dalle normative applicabili ovvero fino 
                a quando Lei non revochi il consenso prestato per i trattamenti ove previsto. Successivamente i dati personali saranno 
                automaticamente cancellati ovvero resi anonimi in modo permanente.
            </p>
        </div>
        <div>
            <h4>Titolare del trattamento</h4>
            <p>
                Il Titolare del trattamento è progettoschool.it (Italia). 
                progettoschool tratterà i Suoi dati in conformità al GDPR. Per l’esercizio dei Suoi diritti, nonché per ricevere 
                qualsiasi informazione relativa agli stessi e/o alla presente Informativa, potrà contattarci scrivendo a progettoschool21@gmail.com.
            </p>
        </div>
        <div>
            <h4>Diritti dell'interessato</h4>
            <p>
                Le ricordiamo che in qualunque momento Lei potrà esercitare i diritti previsti dagli articoli da 15 a 21 del 
                GDPR e, in particolare, richiedere informazioni sull’esistenza e le caratteristiche del trattamento dei dati 
                personali, la rettifica e, la cancellazione degli stessi, ovvero la limitazione del trattamento, opporsi al 
                trattamento e/o richiedere la trasmissione dei Suoi dati personali ad altro titolare. Lei avrà inoltre diritto 
                di revocare il consenso in qualsiasi momento, senza pregiudicare la liceità del trattamento basata sul consenso 
                prestato prima della revoca e proporre reclamo all’Autorità Garante per la protezione dei dati personali, 
                Piazza di Montecitorio n. 121, 00186, Roma (RM).
            </p>
        </div>
        <div>
            <h4>Contatti</h4>
            <p>
                Qualsiasi richiesta relativa ai Suoi Dati Personali riferiti a questa informativa e per l’esercizio dei Suoi 
                diritti potrà contattare, in modo gratuito, il Titolare o il DPO agli indirizzi indicati al paragrafo 7. 
                progettoschool si riserva di modificare la presente informativa privacy in qualsiasi momento. La versione 
                pubblicata nel Sito è quella attualmente in vigore.
            </p>
        </div>
    </div>
</body>
</html>